<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Angular vs. React</title>
	<meta name="author" content="William Gaul">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/reveal.min.css">
	<link rel="stylesheet" href="css/sky.css" id="theme">
	<link rel="stylesheet" href="css/zenburn.css">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<h1>Reveal.js</h1>
				<h3>HTML Presentations Made Easy</h3>
				<p>
					<small>
						<a href="http://willyg302.github.io/">William Gaul</a>
						&middot;
						ICS 419 Course Project
					</small>
				</p>
			</section>

			<section>
				<h2>The Web: Then</h2>
				<iframe width="960px" height="520px" src="http://www.dokimos.org/ajff/indexpage.html"></iframe>
			</section>

			<section>
				<h2>The Web: Now</h2>
				<iframe width="960px" height="520px" src="http://oos.moxiecode.com/js_webgl/autumn/"></iframe>
			</section>

			<section>
				<h2>The Web: Now</h2>
				<iframe width="960px" height="520px" src="http://nebez.github.io/floppybird/"></iframe>
			</section>

			<section>
				<h2>
					<span id="greeting">Hello</span>
					<span id="subject">world!</span>
				</h2>
				<select id="greetingInput" style="font-size: 48px;">
					<option value="Hello">Hello</option>
					<option value="So long">So long</option>
				</select>
				<input id="subjectInput" type="text" value="world!" style="font-size: 48px;">
				<script type="text/javascript">
					var g = document.getElementById('greetingInput');
					var s = document.getElementById('subjectInput');

					g.onchange = function() {
						document.getElementById('greeting').innerHTML = this.value;
					};

					s.onkeypress = s.onkeyup = function() {
						document.getElementById('subject').innerHTML = this.value;
					};
				</script>
			</section>

			<section>
				<section data-markdown>
					<script type="text/template">
						## Pure JavaScript

						`index.html`

						```html
						<h1>
							<span id="greeting">Hello</span>
							<span id="subject">world!</span>
						</h1>
						<select id="greetingInput">
							<option value="Hello">Hello</option>
							<option value="So long">So long</option>
						</select>
						<input id="subjectInput" type="text" value="world!">
						```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Pure JavaScript

						`app.js`

						```js
						var g = document.getElementById('greetingInput');
						var s = document.getElementById('subjectInput');

						g.onchange = function() {
							document.getElementById('greeting').innerHTML = this.value;
						};

						s.onkeypress = s.onkeyup = function() {
							document.getElementById('subject').innerHTML = this.value;
						};
						```
					</script>
				</section>
			</section>

			<section>
				<section data-markdown>
					<script type="text/template">
						## Angular

						`index.html`

						```html
						<body ng-app="App">
							<div ng-controller="Example">
								<h1>{{greeting}} {{subject}}</h1>
								<select ng-model="greeting"
								        ng-options="g for g in greetings">
								</select>
								<input type="text" ng-model="subject">
							</div>
						</body>
						```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Angular

						`app.js`

						```js
						angular.module('App', [])
						       .controller('Example', ['$scope', function($scope) {
							$scope.greetings = ['Hello', 'So long'];
							$scope.greeting = $scope.greetings[0];
							$scope.subject = 'world!';
						}]);
						```
					</script>
				</section>
			</section>

			<section>
				<section data-markdown>
					<script type="text/template">
						## React

						`app.js`

						```js
						var App = React.createClass({
							getInitialState: function() {
								return { greeting: 'Hello', subject: 'world!' };
							},
							render: function() {
								return ( /* Partial here */ );
							},
							onGreetingChange: function(event) {
								this.setState({ greeting: event.target.value });
							},
							onSubjectChange: function(event) {
								this.setState({ subject: event.target.value });
							}
						});

						React.renderComponent(<App/>, document.body);
						```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## React

						Partial

						```html
						<div>
							<h1>{this.state.greeting} {this.state.subject}</h1>
							<select value={this.state.greeting}
							        onChange={this.onGreetingChange}>
								<option value="Hello">Hello</option>
								<option value="So long">So long</option>
							</select>
							<input type="text" value={this.state.subject}
							       onChange={this.onSubjectChange} />
						</div>
						```
					</script>
				</section>
			</section>

			<section>
				<h2>Clever Quotes</h2>
				<p>
					These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
					&ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
				</p>
				<blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
					&ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
					reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
				</blockquote>
			</section>

			<section>
				<section id="fragments">
					<h2>Fragmented Views</h2>
					<p>Hit the next arrow...</p>
					<p class="fragment">... to step through ...</p>
					<ol>
						<li class="fragment"><code>any type</code></li>
						<li class="fragment"><em>of view</em></li>
						<li class="fragment"><strong>fragments</strong></li>
					</ol>

					<aside class="notes">
						This slide has fragments which are also stepped through in the notes window.
					</aside>
				</section>
				<section>
					<h2>Fragment Styles</h2>
					<p>There's a few styles of fragments, like:</p>
					<p class="fragment grow">grow</p>
					<p class="fragment shrink">shrink</p>
					<p class="fragment roll-in">roll-in</p>
					<p class="fragment fade-out">fade-out</p>
					<p class="fragment highlight-red">highlight-red</p>
					<p class="fragment highlight-green">highlight-green</p>
					<p class="fragment highlight-blue">highlight-blue</p>
					<p class="fragment current-visible">current-visible</p>
					<p class="fragment highlight-current-blue">highlight-current-blue</p>
				</section>
			</section>

			<section>
				<h2>Spectacular image!</h2>
				<a class="image" href="http://lab.hakim.se/meny/" target="_blank">
					<img width="320" height="299" src="http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png" alt="Meny">
				</a>
			</section>

			<section>
				<h1>The End</h1>
				<h3>Thank You!</h3>
			</section>
		</div>
	</div>
	<script src="js/head.min.js"></script>
	<script src="js/reveal.min.js"></script>
	<script>
		var hasMarkdown = function() {
			return !!document.querySelector('[data-markdown]');
		};
		Reveal.initialize({
			history: true,
			dependencies: [
				{ src: 'js/classList.js', condition: function() { return !document.body.classList; }},
				{ src: 'plugin/marked.js', condition: hasMarkdown },
				{ src: 'plugin/markdown.js', condition: hasMarkdown },
				{ src: 'plugin/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); }},
				{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; }}
			]
		});
	</script>
</body>
</html>
